<ion-header>
    <ion-navbar>
        <ion-buttons top>
          <button ion-button icon-only menuToggle>
            <ion-icon name="menu"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title>Food</ion-title>
      </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card *ngFor="let item of items ">
        <img [src]="'data:image/png;base64,' + item.imageData"/>
        <ion-card-content>
          <ion-list no-lines *ngFor="let result of  item.hresult['predict']">
            <ion-list-header>Labels </ion-list-header>
                <ion-list *ngFor ="let predict of result['prediction']">
                  <ion-item>{{predict}}</ion-item>
                </ion-list>  
          </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-fab bottom right>
        <button ion-fab (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-fab>

</ion-content>
