page-home {

    #progressbar{
        align-content: center;
        margin-left: 45px;
    }
    .progress{
        position: relative;
    }
    .progress .text{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        text-align: center;
        width: 100%;
        z-index: 1;
    }
}
.toolbar-background {
    background-color:  rgb(253, 80, 28);
  }
